# Supression des caractères spéciaux

In [23]:
# Etat : Fonctionne parfaitement 

def SuprCaracterSpeV0(Chaine):  # Prend en entrée une chaine de caractères 
    ChaineNettoyee = ''
    indice = 0
    while indice < len(Chaine):
        if (Chaine[indice] == 'R') and (indice < len(Chaine)-2) and (Chaine[indice] + Chaine[indice+1] == 'RT'):
            indice += 3
            while (indice < len(Chaine)-1) and Chaine[indice] != ' ':
                indice+=1
            ChaineNettoyee += ' '
            indice += 1
        elif (Chaine[indice].isalnum() == True):
            ChaineNettoyee += Chaine[indice]
            indice += 1
        elif (Chaine[indice] == "\ "[:-1]) and (indice < len(Chaine)-2) and (Chaine[indice] + Chaine[indice+1] == '\n'):
            ChaineNettoyee += ' '
            indice += 1
        elif (Chaine[indice] == '@') and (indice < len(Chaine)-2):
            indice += 1
            while (indice < len(Chaine)-1) and Chaine[indice] != ' ':
                indice += 1
            ChaineNettoyee += ' '
            indice += 1
        else:
            ChaineNettoyee += ' '
            indice += 1
    return ChaineNettoyee     # Renvoie la chaine de cractères sans les caractères spéciaux

In [24]:
# Etat : Fonctionne parfaitement 

def SuprCaracterSpe(Chaine):  # Prend en entrée une chaine de caractères 
    ChaineNettoyee = ''
    indice = 0
    while indice < len(Chaine):
        if (Chaine[indice].isalnum() == True):
            ChaineNettoyee += Chaine[indice]
            indice += 1
        elif (Chaine[indice] == "\ "[:-1]) and (indice < len(Chaine)-2) and (Chaine[indice] + Chaine[indice+1] == '\n'):
            ChaineNettoyee += ' '
            indice += 1
        else:
            ChaineNettoyee += ' '
            indice += 1
    return ChaineNettoyee     # Renvoie la chaine de cractères sans les caractères spéciaux

La seconde fonction 'SuprCaracterSpeV0()' ne retire ni les pseudonymes ni les 'RT' des tweets (ce qui est deux fonctionnalitées dont nous avons pris la liberté de rajouter).
J'ai comparé sur un petit échantillon, le temps d'éxecution de chaque fonction sur la base de données. Voici les observations notées :

En appellant simplement la fonction 

- OP1 : 9.1s, 6.6s, 6.3s
- OP2 : 6.5s, 6.4s, 6.3s 

- OP1 : 6.5s, 6.5s, 6.4s
- OP2 : 6.4s, 6.4s, 6.2s

En metant 'DFF = RecupDonneesP(fichier)' 

- OP1 : 6.3s, 6.4s, 6.1s
- OP2 : 6.3s, 6.4s, 6.4s

# Récupération des Données du fichier Json → DataFrame ('DFP')

In [25]:
# Etat : Fonctionne parfaitement

def ZoneAterrisage(NomFichier):
    from json import loads
    with open(NomFichier, 'r') as fs, open(r"C:\Users\lddes\OneDrive\Bureau\UVSQ\L2 Info\S3\IN304\Projet\Zone d’atterrissage.json", 'w') as fd:
        for ligne in fs:
            dicoL = loads(ligne)
            Tweet = dicoL["TweetText"]
            TweetN = SuprCaracterSpe(Tweet)  # Suprime tous les caractères spéciaux, les RT et les pseudonymes
            fd.write(f'{TweetN}\n')     # On écrit le Tweet nettoyé dans "Zone d’atterrissage.json"

fichier = r"C:\Users\lddes\OneDrive\Bureau\UVSQ\L2 Info\S3\IN304\Projet\aitweets.json"
ZoneAterrisage(fichier)

In [26]:
# Etat : Fonctionne parfaitement

def RecupDonneesP(NomFichier):  # Prend en entier le nom du fichier à analyser
    from pandas import DataFrame
    from pandas import merge
    from json import loads
    with open(NomFichier, 'r') as fs, open(r"C:\Users\lddes\OneDrive\Bureau\UVSQ\L2 Info\S3\IN304\Projet\Zone d’atterrissage.json", 'w') as fd:
        ligne = fs.readline()
        dicoL = loads(ligne)
        DFF = DataFrame([dicoL])   # On initialise le DatFrame qui va stocker en local les données de la base
        for ligne in fs:
            dicoL = loads(ligne)
            DF2 = DataFrame([dicoL])
            DFF = DFF.merge(DF2, how='outer')  # On ajoute le dictionnaire de chaque ligne au DataFrame                
    return DFF

fichier = r"C:\Users\lddes\OneDrive\Bureau\UVSQ\L2 Info\S3\IN304\Projet\aitweets.json"
DFP = RecupDonneesP(fichier)   # DFP correspond au DataFrame principal, dont les colonnes sont 'id','TweetText', etc
DFP

,id,AuthorLocation,CreatedAt,RetweetCount,TweetLanguage,TweetText
0,1415291904850153474,,2021-07-14T12:47:39Z,0,en,"@____bruvteresa_ According to research, NASA c..."
1,1415291947560828933,Mysore and BERLIN,2021-07-14T12:47:49Z,2,en,RT @HDataSystems: Artificial Intelligence and ...
2,1415291877897605120,,2021-07-14T12:47:33Z,246,en,RT @adgpi: Army Technology Board conducted the...
3,1415291886860967940,,2021-07-14T12:47:35Z,1,en,"RT @pacorjo: According to a recent survey, the..."
4,1415291968700264450,Internet,2021-07-14T12:47:54Z,20,en,RT @HarbRimah: Making AI Sing https://t.co/FJo...
...,...,...,...,...,...,...
1703,1421408743770791938,"Liverpool, England",2021-07-31T09:53:47Z,1,en,RT @innomaticshyd: Top 10 Real world Artificia...
1704,1421424066305605634,,2021-07-31T10:54:40Z,0,en,Iowa State part of U.S. National Science Found...
1705,1421423882427371521,127.0.0.1,2021-07-31T10:53:57Z,17,en,RT @intellimetri: Human Assisted #ArtificialIn...
1706,1421423971858149377,"Singapore, Singapore",2021-07-31T10:54:18Z,12,en,RT @IainLJBrown: Artificial Intelligence learn...
1707,1421423964845395969,"Torremolinos, España",2021-07-31T10:54:16Z,17,en,RT @marcusborba: Artificial Intelligence May F...

# Opérations d'Analyse
Méthode : Récupération des Tweets du DataFrame (pincipal) → Analyse → DataFrame (d'analyse)
Les Données d'Analyse seront liées aux données du DataFrame principal par leur index (le numéro de leur ligne tout simplement)

Puis pour finir : Fusion des différents DataFrame d'Analyse

# Les Hashtags ('#')

In [27]:
# Etat : Fonctionne parfaitement 

def Hashtags(chaine): # Entrée : Chaîne de caractères
    ListeH = []
    SousChaine = chaine.split()
    for elem in SousChaine:
        if elem.startswith('#') and len(elem)>1:
            elem2 = ''
            indice = 1
            while indice < len(elem):
                if (elem[indice] == '_') or (elem[indice].isalnum() == True):
                    elem2 += elem[indice]
                    indice += 1
                else:
                    indice = len(elem)
            ListeH.append(elem[0]+elem2)
    return ListeH   # Renvoie une liste contenant les # du Tweet 

srt = "RT @INCANDESClLLA: ⠀ \n\n      for a device upgraded to become the greatest artificial intelligence , 𝘽𝙀𝙍𝙏𝙊 squeaked upon the claws threateni…"
Hashtags(srt)

[]

In [28]:
def DicoHashtags(DF):   # Entrée : DataFrame (la colonne des tweets)
    DicoH = {}
    from pandas import DataFrame
    Taille = DF.shape  # Tuple contenant (le nombre de ligne, le nombre de colonnes)
    for i in range(Taille[0]):
        Tweet = DF.loc[i]
        ListeHashtags = Hashtags(Tweet)
        for h in ListeHashtags:
            if h in DicoH:
                nombre = DicoH[h]
                nombre +=1
                DicoH[h] = nombre
            else:
                DicoH[h] = 1
    del DicoH['#']    # Il y a 33 # incomplets dans la base de données, ils sont pris en compte par la fonction, on prend donc le soin de suprimer cette clé du dico           
    return DicoH      # Renvoie un Dictionnaire contenant tous les Hashtags en clé et le nombre de fois qu'ils sont tweeté en valeur

DicoH = DicoHashtags(DFP["TweetText"])

In [29]:
# Etat : Fonctionne parfaitement

def DFHashtags(DF): # En entrée un DataFrame contenant la colonne des "TweetText"
    from pandas import DataFrame
    from pandas import concat
    Taille = DF.shape  # Tuple contenant (le nombre de ligne, le nombre de colonnes)
    i = 0
    Tweet = DF.loc[i]
    ListeHashtags = Hashtags(Tweet)
    DFA = DataFrame({'#':[ListeHashtags]}, index=[i])
    for i in range(1,Taille[0]):
        Tweet = DF.loc[i]
        ListeHashtags = Hashtags(Tweet)
        DFB = DataFrame({'#':[ListeHashtags]}, index=[i])
        DFC = concat([DFA, DFB])
        DFA = DFC
    return DFA

DFh = DFHashtags(DFP["TweetText"])

# Les Arobases @

In [30]:
# Etat : Fonctionne parfaitement 

def Arobases(chaine): # Prend en entrée un str
    ListeA = []
    SousChaine = chaine.split()
    for elem in SousChaine:
        if elem.startswith('@') and len(elem)>1:
            elem2 = ''
            indice = 1
            while indice < len(elem):
                if (elem[indice] == '_') or (elem[indice].isalnum() == True):
                    elem2 += elem[indice]
                    indice += 1
                else:
                    indice = len(elem)
            ListeA.append(elem[0]+elem2)
    return ListeA   # Renvoie une liste contenant les @ du Tweet

In [41]:
def DicoArobases(DF):   # Entrée : DataFrame (la colonne des tweets)
    DicoA = {}
    from pandas import DataFrame
    Taille = DF.shape  # Tuple contenant (le nombre de ligne, le nombre de colonnes)
    for i in range(Taille[0]):
        Tweet = DF.loc[i]
        ListeArobases = Arobases(Tweet)
        for h in ListeArobases:
            if h in DicoA:
                nombre = DicoA[h]
                nombre +=1
                DicoA[h] = nombre
            else:
                DicoA[h] = 1 
    del DicoA['@']               
    return DicoA      # Renvoie un Dictionnaire contenant tous les Hashtags en clé et le nombre de fois qu'ils sont tweeté en valeur

DicoA = DicoArobases(DFP["TweetText"])

In [32]:
# Etat : Fonctionne parfaitement

def DFArobases(DF): # En entrée un DataFrame contenant la colonne des "TweetText"
    from pandas import DataFrame
    from pandas import concat
    Taille = DF.shape  # Tuple contenant (le nombre de ligne, le nombre de colonnes)
    i = 0
    Tweet = DF.loc[i]
    ListeArobases = Arobases(Tweet)
    DFA = DataFrame({'@':[ListeArobases]}, index=[i])
    for i in range(1,Taille[0]):
        Tweet = DF.loc[i]
        ListeArobases = Arobases(Tweet)
        DFB = DataFrame({'@':[ListeArobases]}, index=[i])
        DFC = concat([DFA, DFB])
        DFA = DFC
    return DFA

DFa = DFArobases(DFP["TweetText"])

# DataFrame d'Analyse 
Ce DataFrame contient toute les Analyses PAR Tweet, il permet de récupérer grâce à l'index de la ligne du Tweet (stocké dans le DataFrame principal : 'DFP')
les données d'analyse correspondant au Tweet (les @ mentionnés, les # mentionnés, les Topiocs mentionnés, etc)

- Méthode n°1

On parcour de manière itérative le Dataframe en fonction de l'index (le numéro de ligne) et on ajoute les opérations d'analyses dans un dictionnaire.
Puis une fois toutes les lignes analysées ont crée un DataFrame à partir du dictionnaire.

In [33]:
# Etat : Fonctionne parfaitement

def DataFrameAnalyse(DF):   # En entrée un DataFrame contenant la colonne des "TweetText"
    from pandas import DataFrame
    Taille = DF.shape  # Tuple contenant (le nombre de ligne, le nombre de colonnes)
    dicoAnalyses = {}
    i = 0
    Tweet = DF.loc[i]
    ListeArobases = Arobases(Tweet)
    dicoAnalyses['@'] = [ListeArobases]
    ListeHashtags = Hashtags(Tweet)
    dicoAnalyses['#'] = [ListeHashtags]
    for i in range(1,Taille[0]):
        Tweet = DF.loc[i]
        ListeArobases = Arobases(Tweet)
        dicoAnalyses['@'].append(ListeArobases)
        ListeHashtags = Hashtags(Tweet)
        dicoAnalyses['#'].append(ListeHashtags)
    DFA = DataFrame(dicoAnalyses)
    return DFA

DFA = DataFrameAnalyse(DFP["TweetText"])

- Méthode n°2

On reprend les Dataframe créer pour chaque Analyses (donc des DataFrame d'une seule colonne) et on les fusionne à l'aide de la fonction concat().

In [34]:
# Etat : Fonctionne parfaitement

from pandas import DataFrame
from pandas import concat
DFA2 = concat([DFa, DFh], axis=1)

# Fonctionnalitées Suplémentaires :

- Actualisation manuelle des données

In [35]:
# Etat : Fonctionne parfaitement

def Refresh():
    fichier = r"C:\Users\lddes\OneDrive\Bureau\UVSQ\L2 Info\S3\IN304\Projet\aitweets.json"
    ZoneAterrisage(fichier)

Refresh()

- Le nombre de publications par utilisateur

In [36]:
def NbPostUtilisateur(ID) : # En Entrée : 'str' (l'ID de l'utilisateur)
    global DFP
    Taille = DFP.shape
    for i in range(Taille[0]):
        if DFP["id"].loc[i] == ID:
            return (ID, DFP["RetweetCount"].loc[i])  # En sortie : 'tuple' (ID, nombre de Publications)

NbPostUtilisateur("1418403326245306375")

('1418403326245306375', '4')

- Le nombre de publications par hashtag

In [37]:
def NbPostHashtags(hashtag): # En entrée : 'str'
    global DicoH
    if hashtag in DicoH:
        return (hashtag, DicoH[hashtag])
    else:
        return (hashtag, 0) # En sortie : 'tuple' (#, nombre de publications dans lequel il est mentionné)
    
NbPostHashtags('#AI')

('#AI', 204)

- Top K hashtags

In [38]:
# Etat : Fonctionne IMparfaitement !!!!

def TopKH(K):
    from pandas import DataFrame
    global DicoH
    DFKH = DataFrame(DicoH.items(), columns=['#', 'Nombre'])
    DFKH = DFKH.sort_values(by='Nombre', ascending=False)  # On Tri le Dataframe selon les valeurs de la deuxième colonne 'Nombre' et on precise 'ascending=False' pour l'ordre décroissant
    return DFKH.head(K)

TopKH(10)

                           #  Nombre
11   #ArtificialIntelligence     207
5                        #AI     204
2           #MachineLearning      86
27                       #ai      52
3               #DataScience      50
10   #artificialintelligence      44
49                  #BigData      25
16                 #learning      24
83                       #ML      23
167                      #5G      21

- Top K utilisateurs mentionnés

In [39]:
# Etat : Fonctionne IMparfaitement !!!!

def TopKA(K):
    from pandas import DataFrame
    global DicoA
    DFKA = DataFrame(DicoA.items(), columns=['@', 'Nombre de Mentions'])
    DFKA = DFKA.sort_values(by='Nombre de Mentions', ascending=False) # On Tri le Dataframe selon les valeurs de la deuxième colonne 'Nombre' et on precise 'ascending=False' pour l'ordre décroissant
    return DFKA.head(K)

TopKA(10)

                    @  Nombre de Mentions
26       @IainLJBrown                 112
55     @Paula_Piccard                  49
18       @nigewillson                  24
36   @machinelearnTec                  17
284    @akbarth3great                  17
680    @JoshuaBarbeau                  17
978         @sankrant                  17
147   @SpirosMargaris                  16
27   @machinelearnflx                  16
44     @Datascience__                  15

# Problèmes !!!

- La complexitée de la supression des caractères spéciaux des tweets pour la Zone d'atterrissage. Le problème étant que la méthode d'encodage 'utf-8' ne fonctionne pas, ce qui nous force à parcourir deux fois les chaînes de caractères de la base de données (le fichier Json contenant tous les tweets).